<%%= form_for(<%= singular_table_name %>) do |f| %>

<div class="row">
  <div class="col-lg-6">
      <% attributes.each do |attribute| -%>
        <div class="form-group">
      <% if attribute.password_digest? -%>
          <%%= f.label :password ,"Passwort", class: "control-label" %>
          <%%= f.password_field :password  , class: "form-control"%>
        </div>      

        <div class="form-group">
          <%%= f.label :password_confirmation ,"Passwort wiederholen", class: "control-label"%>
          <%%= f.password_field :password_confirmation , class: "form-control" %>
      <% else -%>
         
          <%%= f.label :<%= attribute.column_name %> ,"<%=attribute.column_name %>", class: "control-label" %>
          <% if attribute.field_type == :date_select%>
            <%%= f.hidden_field :<%= attribute.column_name %> %>
            <input type="text" id="<%=singular_table_name %>_<%= attribute.column_name %>_field" class="form-control datepicker">
        <% else %>     
            <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "form-control" %>
        <% end -%>
        <% end -%>
        </div>      

      <% end -%>
        <div class="actions">
          <%%= f.submit "Speichern", class: " btn btn-submit", id: "<%=singular_table_name%>_submit" %>
        </div>
      <%% end %>  
  </div>
</div>