<div class="col-lg-8">
  <table>
    <thead class="thead-inverse ">
      <tr>
        <div class="panel-heading ">
          <th>
            <h3>
              <%= plural_table_name %>
            </h3>
          </th>
        </div>

      </tr>

    </thead>
    <div class="panel-attributes">
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <th>
          <%= attribute.human_name %>
        </th>
    </div>
    <% end -%>
      </tr>
      </thead>

      <table class="table table-striped table-hover">
        <tbody>
          <%% @<%= plural_table_name %>.each do |
            <%= singular_table_name %>| %>
              <tr class="rowlink" id="<%% <%= singular_table_name %>_path(<%= singular_table_name %>) %>">
                <% attributes.reject(&:password_digest?).each do |attribute| -%>
                  <td>
                    <%%= <%= singular_table_name %>.
                      <%= attribute.name %> %></td>
                  <% end -%>
              </tr>
              <%% end %>
        </tbody>
      </table>
  </table>


  <script type="text/javascript">
    $(".rowlink").on("click keyup", function(e) {
      window.location.href = $(this).attr('id');
    });
  </script>